body{
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   background-color: #f5f5f5; 
   font-size: 16px; 
}

/* Estilos del formBox */
.box_login{
   background-color: #ffffff; 
   padding: 40px; 
   border-radius: 10px; 
   box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); 
   max-width: 450px; 
   width: 100%;
   text-align: center; 
}

.box_login label {
   justify-content: center;
   align-items: center;
   color: #004d40; 
   font-weight: normal;
   display: block; 
   margin-bottom: 5px;
   font-size: 14px; 
}

.box_login input{
   width: 100%; 
   padding: 12px 15px; 
   margin-bottom: 20px;
   border: 1px solid #004d40; 
   border-radius: 5px; 
   box-sizing: border-box; 
   font-size: 14px;
   color: #333333; 
   background-color: #f5f5f5;
}

input[type="text"]:focus, input[type="date"]:focus {
   border-color: #00796b; /* cambia de color al enfocarse */
   background-color: #ffffff; /* fondo blanco al enfocarse para destacar */
}

/* Contenedor de Botones */
.containerButtons{
   text-align: center;
   margin-top: 20px;
}

.containerButtons button{
   background-color: #00796b;
   color: #ffffff;
   padding: 10px 20px;
   border: none;
   border-radius: 5px; 
   cursor: pointer;
   text-decoration: none;
   margin: 0 10px;
   font-size: 16px; 
   transition: background-color 0.3s ease; /* transicion suave de color */
}

.containerButtons button:hover {
   background-color:#004d40 ; 
}

/* Modales */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #ffffff;
  margin: 15% auto;
  padding: 30px; 
  border: 1px solid #004d40; 
  border-radius: 10px; 
  width: 80%;
  max-width: 450px; 
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3); 
  text-align: center;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.btn {
  background-color: #004d40;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px; 
  cursor: pointer;
  text-decoration: none;
}

.btn:hover {
  background-color: #00796b;
}

/* Responsividad */
@media (max-width: 600px) {
   .box_login{
       padding: 30px; /* Reducido para mejor ajuste en pantallas pequeñas */
   }
   .containerButtons button{
       width: 100%;
       margin: 10px 0;
   }
}
